# Source files (exclude)
src/**
!src/webview/build/**
!src/core/blocks/Categories/**
!src/core/blocks/builtins/**
*.ts
*.tsx
*.map

# Development files
.vscode/**
.vscode-test/**
**/node_modules/**
**/.git/**
**/.DS_Store
**/TODO
**/DONE